@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


html, body {
    margin: 0;
    height: 100dvh;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(196, 169, 117, 0.5), rgba(255, 165, 74, 0.5), rgba(196, 169, 117, 0.5));
    background-size: 100% 100%;
    animation: gradientMove 10s ease infinite;
}


* {
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    color: white;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px) scale(0.98);
    filter: blur(8px);

    transition: opacity 0.25s ease, transform 0.25s ease, filter 0.25s ease, visibility 0.25s;
}

.page.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateY(0) scale(1);
    filter: blur(0);
}

.card {
    width: min(40rem, 90vw);
    min-height: 30vh;
    max-height: calc(100dvh - 140px);
    padding: 35px;
    padding-top: 20px;
    gap: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    overflow-y: auto;
    background: rgba(195, 152, 108, 0.5);
    border: 1px solid rgba(129, 100, 71, 0.25);
    border-radius: 50px;
    box-shadow: 0 10px 20px #0000004d;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0,0,0,.35);
}


/* hide scrollbar */
.card::-webkit-scrollbar {
    display: none;
}

.card {
    scrollbar-width: none;
}


.card h1 {
    margin: 0;
    font-size: 45px;
}


.card p {
    margin: 0;
    max-width: 600px;
    line-height: 1.6;
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 8px;
    background: rgba(195, 152, 108, 0.5);
    border: 1px solid rgba(129, 100, 71, 0.25);
    border-radius: 999px;
    box-shadow: 0 10px 20px #0000004d;
    overflow: hidden;
    transition: all 0.4s ease;
}

nav ul {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
}

nav a {
    display: block;
    padding: 10px 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 999px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

nav a:hover {
    transform: translateY(-2px);
    text-shadow: 0 4px 10px rgba(0,0,0,.35);
}

.nav-indicator {
    position: absolute;
    top: 8px;
    left: 8px;

    height: calc(100% - 16px);
    width: 0;

    border-radius: 999px;

    background: rgba(255,255,255,.18);
    backdrop-filter: blur(10px);

    transition: all .25s ease;

    z-index: 1;
}

.box {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(195,152,108,.5);
    border: 1px solid rgba(129,100,71,.25);
    border-radius: 25px;
    text-align: center;
}


.box h1, .box h2 {
    margin: 0;
}

.box h2 {
    font-size: 28px;
}

.box p {
    font-size: 16px;
}

.socials {
    display: flex;
    gap: 18px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.socials a {
    transition: transform 0.2s ease;
}

.socials a:hover {
    transform: scale(1.1);
}

.pfp {
    width: 145px;
    height: 145px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: -5px;
}


.pfp-image {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 20px #0000004d;
    z-index: 1;
}

.pfp-decoration {
    width: 175px;
    height: 175px;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.box-btn {
    margin-top: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 15px;
    padding: 10px 25px;
    color:white;
    font-weight:bold;
    cursor: pointer;
    transition: transform .2s ease, background .2s ease;
}

.box-btn:hover {
    transform: translateY(-2px);
    background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
    nav {
        top: 12px;
    }

    nav a {
        padding: 8px 14px;
        font-size: 16px;
    }

    .page {
        top: 80px;
        bottom: 15px;
    }

    .card {
        max-height: calc(100dvh - 110px);
        border-radius: 30px;
        padding: 25px 20px;
    }

    .card h1 {
        font-size: 32px;
    }
}